* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: linear-gradient(#01012e, #240019);
    height: 100vh;
}
section {
    background: url("stars1.webp");
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
ul {
    text-align: center;
    list-style: none;
}
ul:hover li a {
    opacity: 0;
}
ul li {
    margin: 14px auto;
}
ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    background: darkblue;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
    width: 120px;
    transition: 0.5s ease-in-out;
    position: relative;
    z-index: 10;
}
ul li a:hover {
    transform: scale(1.5);
    background: darkmagenta;
    opacity: 1;
}
ul li::after {
    content: attr(data-text);
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    letter-spacing: 50px;
    pointer-events: none;
    transition: 0.5s;
}
ul li:hover::after {
    opacity: 0.5;
    letter-spacing: 5px;
}
ul li::before {
    content: '';
    width: 180px;
    height: 80px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 70%);
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.5s;
}
ul li:hover::before {
    opacity: 0.5;
    width: 80px;
}